@model HOTPIZZA.Models.TuyenDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TuyenDung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiaChiTuyenDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiTuyenDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViTriLamViec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTriLamViec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailLienLac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailLienLac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTacCongViec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTacCongViec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin.HovaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.HovaTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBaiTuyenDung }) |
    @Html.ActionLink("Back to List", "Index")
</p>
